@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1{
    color: brown;
}

.hero{
    background-image: url('../images/redcow.jpg');
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    padding: 100px;
}
.hero h1{
    color: rgb(255, 74, 74);
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family: cursive;
    padding-top: 60px;
    word-spacing: 40px;
    letter-spacing: 20px;
}
.article{
    width: 80%;
    text-align: justify;
    margin: 20px auto;
    background-color: rgb(249, 226, 197);
    padding: 60px;
}
.article h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 5px solid brown;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.article p{
    font-size: 20px;
    line-height: 2em;
}
.article p .imp{
    font-size: 2em;
    background-color: yellow;
    width: 600px;
    display: inline-block;
}